.container {
  margin: auto;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 50px;
  font-family: "Titillium Web";
  background-color: rgb(231, 229, 223);
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-name {
  color: black;
  font-size: 225%;
  text-decoration: none; 
}
.nav-link-text {
  color: black;
  font-size: 175%;
  text-decoration: none; 
}